*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: normal;
  margin: 0;
}

:root {
  --primary-bg: #121212;
  --text-color: #f5f5f5;
  --accent-color: coral;
}

body {
  background: var(--primary-bg);
  color: var(--text-color);
}

.row {
  height: 100dvh;
  align-items: center;
  justify-content: center;
}

.form_container {
  padding: 10px;
  position: relative;
}

.form_container h1 {
  font-size: 1.9rem;
  font-weight: 700;
  text-transform: uppercase;
}

.form_container h1 span {
  color: var(--accent-color);
}

.form_container .form-control {
  box-shadow: none;
  border-radius: 0;
  border-color: transparent;
}

.form_container .input_container {
  display: flex;
  justify-content: space-between;
}

.form_container .input_container button {
  background: var(--accent-color);
  font-weight: 700;
  text-transform: uppercase;
  border: none;
  padding: 10px;
  margin-left: -1px;
}

.form_container .switch_container {
  position: absolute;
  right: 10px;
}

.form_container .switch_container button {
  background: var(--accent-color);
  padding: 10px;
  border: none;
  font-weight: 700;
  text-transform: uppercase;
}

#binary_container {
  display: none;
}
